*{
	margin: 0px;
	padding: 0px;
}
.container{
	width: 100%;
	background: #021F29;
}
.wrapper{
	width: 895px;
	margin: auto;
}
.list{
	background: #1D91BD;
}
.logo_left{
	display: inline-block;
}
.logo_right1{
	display: inline-block;
	float: right;
}
.logo_right2{
	display: inline-block;
	float: right;
	margin-top: 70px;
	margin-bottom: 20px;
}
.backgrnd{
	background-color: #E2E2E2;
}
#btn{
	background: black;
	color: white;
	padding: 7px;
	border-radius: 5px;
	width: 130px;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	border: none;
}
#btn:hover{
	background: #004d4d;
	cursor: pointer;
}
.box{
	border-radius: 5px;
	width: 120px;
	padding: 7px;
	display: inline-block;
}
#clear{
	clear: both;
}
#text{
	display: inline-block; 
	margin-left: 150px;
	color: white;
	font-weight: bolder;
	font-size: 20px;
}
ul li{
	width: 175px;
	line-height: 35px;
	height: 35px;
	display: inline-block;
	text-align: center;
}
ul li a{
	color: white;
	text-decoration: none;
	display: block;
}
ul li a:hover{
	background-color: black;
}
pre{
	font-weight: bolder;
	margin: auto;
}
#Home
{

    font-family: cursive;
    font-size: 110%;
}
#Facilities
{
    font-family: cursive;
    font-size: 110%;
    
}
#frm{
        width: 20%;
        margin-top: 80px;
        margin-left: 10px;
      }